SUPABASE_PASSWORD=""
SUPABASE_URL=""

DATABASE_URL=""

API_KEY=""

UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

KAFKA_ENABLED="false"
KAFKA_BOOTSTRAP_SERVERS=""
KAFKA_CLIENT_ID="contacts-service"
KAFKA_EVENTS_TOPIC="mini-crm.events"
KAFKA_ACCESS_KEY=""
KAFKA_ACCESS_CERTIFICATE=""
KAFKA_CA_CERTIFICATE=""
