@import "tailwindcss";

@theme {
  --color-bg: #ffffff;
  --color-fg: #171717;
}

@variant dark (&:where(.dark, .dark *));

:root.dark {
  --color-bg: #0a0a0a;
  --color-fg: #ededed;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: Arial, Helvetica, sans-serif;
}
